<%- include('partials/header.ejs'); -%>
<!-- ########################### -->

<h1>Home</h1>

<p> <%= startingHomeContent %> </p>


<% composePost.forEach((element) => { %>
<h1> <%= element.keyTitle.substring(0, 50) %> </h1>
<p> <%= element.keyContent.substring(0, 100) + "..." %> </p>
<% }); %>

<!-- ########################### -->
<%- include('partials/footer.ejs'); -%>